<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Simple is Better Than Complex{% endblock %}</title>
    {% block head %}
    {% include 'material/includes/material_css.html' %}
    {% endblock %}
  </head>
  <body>
    <header>
      <h1>My Site</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}

      {% block js %}
	<script src="{% static 'material/js/jquery.js' %}"></script>
	{% include 'material/includes/material_js.html' %}
      {% endblock %}
    </main>
  </body>
</html>
